{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "quoteProps": "as-needed",
  "vueIndentScriptAndStyle": false,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular",
        "printWidth": 120
      }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
